# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Data
data/
*.csv
*.sqlite

# Pytest cache
.pytest_cache/
